* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

main, form{
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80vh;
    background-color: #F8EDE3;

}

main > div{
    margin: 2rem;
    font-weight: 600;
}

form {
    height: 20vh;
    background-color: #DFD3C3;
}


#inputText {
    border:none;
    outline: none;
    width: 40vw;
    border-bottom: 2px solid black;
    margin: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: transparent;
}

#btn {
    height: 2rem;
    width: 8rem;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    font-weight: 600;
}